html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,300,600,800);

a {
	text-decoration: none;
	color: #666666;
}

.element a:hover {
	color: #546E7A;
	text-decoration: underline;
}



html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: #ECEFF1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #333333;
}


header {
	height: 255px;
	width: 100%;
	background-color: #546E7A; 
}

h1, h2 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h1 {
	padding-top: 70px;
	font-size: 2.5em;
	margin-bottom: 10px;
	color: #78909C;
}

h1 .italic {
	font-style: italic;
	font-size: 1.5em;
	color: #ECEFF1;
}

.italic {
	font-style: italic;
}

h2 {
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 70px;
	color: #CFD8DC;
}

.jumbos {
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #000;
}

.jumbos:hover .image{
	opacity: 0.8;
	webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

.image {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 1;
    webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

#image1 {
	background: url(photo.jpg) no-repeat center center; 
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#image2 {
	background-color: #546E7A;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

.overlay h3 {
	margin: 0 auto;
	font-size: 2.5em;
	margin-top: 120px;
	padding-bottom: 10px;
	padding-top: 5px;
	font-weight: 300;
	color: #ECEFF1;
/* background-color: rgba(0,0,1,0.2); */
	opacity: 0.95;
	border-top: 2px solid #fff;

	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}

#photo {
	width: 250px;
	
}

#program {
	width: 175px;
}

.overlay p {
	position: relative;
	margin: 0;
	padding-top: 50px;
	text-align: center;
	font-style: italic;
	font-weight: 300;
	font-size: 1.5em;
	color: #FFFFFF;
	opacity: 0;

	-webkit-transition: all 0.5s ease;
  	-moz-transition: all 0.5s ease;
  	-o-transition: all 0.5s ease;
  	transition: all 0.5s ease;
}



.overlay:hover p {
	opacity: 1;
  	-webkit-transform: translate3d(0,-50px,0);
  	-moz-transform: translate3d(0,-50px,0);
    -o-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
}

.overlay:hover h3 {
	opacity: 1;
}


.aboutme {
	padding-top: 45px;
	text-align: center;
	margin: auto;
	width: 500px;
	line-height: 20px;
}

.social {
	border-top: 2px solid #CFD8DC;
	border-bottom: 2px solid #CFD8DC;
	margin-top: 50px;
	margin-left: 35%;
	margin-right: 35%;
	margin-bottom: 50px;
	padding-bottom: 25px;
	width: 30%;
	float: left;
}

.social h1 {
	padding-top: 20px;
}

.element {
	margin-top: 10px;
	text-align: center;
	display: inline-block;
	width: 31%;
}




